<div class="row">
	<div class="col-md-9">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title"><strong>{{ problem.title }}</strong></h3>
			</div>
			<div class="card-body">
				<div class="text-wrap" id="problem_description">
					<textarea style="display:none">{{ problem.description }}</textarea>
				</div>
				<div class="col-12" align="center">
					<div class="card">
						<div id="submission_code" style="margin: 0"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Information</h3>
				<div class="card-options">
					<a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
							class="fe fe-chevron-up"></i></a>
				</div>
			</div>
			<table class="table card-table">
				<tr>
					<td>Problem ID</td>
					<td class="text-right">{{ problem.pid }}</td>
				</tr>
				<tr>
					<td>Level</td>
					<td class="text-right">{{ macros.level_to_tag(problem.level) }}</td>
				</tr>
				<tr>
					<td colspan="2">
						<p>Tags</p>
						<div class="tags">
							{% for tag in problem.tags %}
							<span class="tag tag-rounded tag-azure">{{ tag.tag_name }}</span>
							{% endfor %}
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<script>
	var submission_code, problem_description;

	require(editormd_deps, function (editormd) {
		editormd.loadCSS("{{ url_for('static', filename='plugins/editormd/lib/codemirror/addon/fold/foldgutter') }}");

		submission_code = editormd("submission_code", {
			height: 400,
			watch: false,
			toolbar: false,
			codeFold: true,
			searchReplace: true,
			placeholder: "Input your python code here...",
			// value: getCodeValue(),
			// theme: (localStorage.theme) ? localStorage.theme : "default",
			mode: "python",
			path: "{{ url_for('static', filename='plugins/editormd/lib/') }}",
		});

		problem_description = editormd.markdownToHTML("problem_description", {
			tex: true
		});
	});
</script>