{% extends 'base_index.html' %}
{% set page_title = (problem.pid|string ~ '. ' ~ problem.title) if problem else '' %}
{% set navbar_active = 'problemset' %}

{% import 'base_macros.html' as macros %}

{% block page_content %}
<form role="form" method="post">
	{{ form.csrf_token }}
	<div class="row">
		<div class="col-lg-9">
			<div class="card">
				<div class="card-body">
					{{ macros.render_field(form.title) }}
					<div class="text-wrap" id="description">
						<textarea style="display:none" name="description">{{ form.description.data|default('', true) }}</textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Information</h3>
					<div class="card-options">
						<a href="#" class="card-options-collapse" data-toggle="card-collapse">
							<i class="fe fe-chevron-up"></i></a>
					</div>
				</div>
				<table class="table card-table">
					<tr>
						<td>Problem ID</td>
						<td class="text-right">{{ problem.pid if problem else '' }}</td>
					</tr>
					<tr>
						<td>Level</td>
						<td class="text-right">
							{{ form.level(class = 'form-control form-control-sm') }}
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<p>Tags</p>
							<div class="tags">
								{% for tag in form.tags %}
								<a href="javascript:void(0)" value="{{ tag.data }}"
									class="tag problem_tag{% if tag.checked %} tag-azure{% endif %}">{{ tag.label.text }}</a>
								{% endfor %}
							</div>
							{{ form.tags(class = 'd-none') }}
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-12" align="center">
			<button type="submit" class="btn btn-pill btn-azure btn-lg">{{ form.submit.label.text }}</button>
		</div>
	</div>
</form>

<script>
	require(['jquery'], function ($) {
		$('.problem_tag').click(function () {
			if ($(this).hasClass('tag-azure')) {
				$(this).removeClass('tag-azure');
				$("#tags > [value='" + $(this).attr('value') + "']").each(function () {
					$(this).remove();
				});
			}
			else {
				$(this).addClass('tag-azure');
				$("#tags").append('<option value="' + $(this).attr('value') + '" selected></option>');
			}
		});
	});

	var description;

	require(editormd_deps, function (editormd) {
		editormd.loadCSS("{{ url_for('static', filename='plugins/editormd/lib/codemirror/addon/fold/foldgutter') }}");

		description = editormd("description", {
			width: "100%",
			height: 480,
			watch: false,
			toolbar: true,
			codeFold: true,
			searchReplace: true,
			placeholder: "Input problem description. Support Markdown.",
			// value: getCodeValue(),
			// theme: (localStorage.theme) ? localStorage.theme : "default",
			tex: true,
			path: "{{ url_for('static', filename='plugins/editormd/lib/') }}",
		});
	});
</script>
{% endblock %}