{% extends 'base_index.html' %}
{% set page_title = 'Problem Set' %}
{% set navbar_active = 'problemset' %}

{% import 'base_macros.html' as macros %}

{% block page_content %}
<div class="row row-cards">
	<div class="col-lg-9">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<div style="display: inline-block">
						<div class="input-group">
							<input type="text" class="form-control form-control-sm" placeholder="Problem ID" id="pid"
								name="title">
							<span class="input-group-append">
								<button class="btn btn-sm btn-primary" type="button" id="goto_problem">
									Go!
								</button>
								{% if current_user.is_teacher %}
								<button data-toggle="dropdown" type="button"
									class="btn btn-primary btn-sm dropdown-toggle"></button>
								<div class="dropdown-menu dropdown-menu-right">
									<a id='goto_edit' class="dropdown-item" href="javascript:void(0)">
										Edit
									</a>
									<a id='goto_testset' class="dropdown-item" href="javascript:void(0)">
										Testset
									</a>
									<a id='goto_filter_submission' class="dropdown-item" href="javascript:void(0)">
										Filter submission
									</a>
								</div>

								<script>
									require(['jquery'], function ($) {
										$().ready(function () {
											$('#goto_edit').click(function () {
												window.location.href = '/admin/problem/' + $('#pid').val();
											});
										});
									});
								</script>
								{% endif %}
							</span>
						</div>
					</div>
					{% if current_user.is_teacher %}
					<a href="{{ url_for('problem.new') }}" class="btn btn-sm btn-secondary ml-1">New Problem</a>
					{% endif %}
				</div>
				<div class="card-options">
					<form id="filter_form" method="post">
						<div class="input-group">
							<input type="text" class="form-control form-control-sm" placeholder="Search title"
								id="title" name="title" value="{{ filter_title }}">
							<span class="input-group-append">
								<button class="btn btn-sm btn-default" type="submit">
									<span class="fe fe-search"></span>
								</button>
								{% if filter_title %}
								<button class="btn btn-sm btn-default" type="button" id="clear_filter_title">
									<span class="fe fe-x"></span>
								</button>
								{% endif %}
							</span>
						</div>
						<input type="hidden" id="tag_id" name="tag_id" value="{{ filter_tag_id }}">
					</form>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table card-table table-vcenter text-nowrap">
					<thead>
						<tr>
							<th>Status</th>
							<th>#</th>
							<th>Title</th>
							<th>Level</th>
							<th>AC Rate</th>
							{% if current_user.is_teacher %}<th></th>{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for problem in problems %}
						<tr>
							<td>
								{% if problem.sub %}
								{{ macros.status_tag(problem.sub.status, url_for('submission.show', sid = problem.sub.sid)) }}
								{% endif %}
							</td>
							<td><a href="{{ url_for('problem.show', pid = problem.pid) }}"
									class="problem_pid">{{ problem.pid }}</a></td>
							<td><a href="{{ url_for('problem.show', pid = problem.pid) }}"
									class="problem_title">{{ problem.title }}</a></td>
							<td>{{ macros.level_to_tag(problem.level) }}</td>
							<td>{{ problem.ac_rate }}</td>
							{% if current_user.is_teacher %}
							<td class="text-right">
								<a href="javascript:void(0)" class="icon change_visible">
									{% if problem.visible %}
									<i class="fe fe-eye"></i>
									{% else %}
									<i class="fe fe-eye-off"></i>
									{% endif %}
								</a>
								<a href="{{ url_for('problem.edit', pid = problem.pid) }}" class="icon ml-1">
									<i class="fe fe-edit"></i>
								</a>
								<a href="{{ url_for('problem.testset', pid = problem.pid) }}" class="icon ml-1">
									<i class="fe fe-settings{% if not problem.testset %} text-danger{% endif %}"></i>
								</a>
								<a href="javascript:void(0)" data-toggle="modal" data-target="#modal_delete_problem"
									class="icon delete_problem ml-1">
									<i class="fe fe-x"></i>
								</a>
							</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Tags</h3>
				{% if filter_tag_id %}
				<div class="card-options">
					<button id="clear_filter_tag" class="btn btn-secondary btn-sm">
						<span class="fe fe-x"></span>
					</button>
				</div>
				{% endif %}
			</div>
			<div class="card-body tags">
				{% for tag in tags %}
				<a href="javascript:void(0)" value="{{ tag.tag_id }}"
					class="add_filter_tag tag tag-rounded{% if tag.tag_id|string == filter_tag_id %} tag-azure{% endif %}">{{ tag.tag_name }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% if current_user.is_teacher %}
{{ macros.modal_delete('problem') }}
{% endif %}

<script>
	require(['jquery'], function ($) {
		$().ready(function () {
			$("#pid").keypress(function (e) {
				var keyCode = e.keyCode ? e.keyCode : e.which ? e.which : e.charCode;
				if (keyCode == 13) {
					$("#goto_problem").trigger("click");
					return false;
				}
			});

			$('#goto_problem').click(function () {
				window.location.href = '/problem/' + $('#pid').val();
			});

			$('#goto_testset').click(function () {
				window.location.href = '/problem/testset/' + $('#pid').val();
			});

			$('#clear_filter_title').click(function () {
				$('#title').val('');
				$('#filter_form').submit();
			});

			$('#clear_filter_tag').click(function () {
				$('#tag_id').val('');
				$('#filter_form').submit();
			});

			$('.add_filter_tag').click(function () {
				$('#tag_id').val($(this).attr('value'));
				$('#filter_form').submit();
			});

			{% if current_user.is_teacher %}
			$('.change_visible').click(function () {
				$.post(
					"{{ url_for('problem.change_visible') }}",
					{ pid: $(this).parent().parent().find('.problem_pid').html() },
					function () {
						window.location.reload();
					}
				)
			});

			$('.delete_problem').click(function () {
				var problem = $(this).parent().parent();
				$('#name_delete_problem').html(problem.find('.problem_title').html());
				$('#id_delete_problem').val(problem.find('.problem_pid').html());
			});

			$('#submit_delete_problem').click(function () {
				$.post(
					"{{ url_for('problem.delete') }}",
					{ pid: $('#id_delete_problem').val() },
					function () {
						window.location.reload();
					}
				);
			});
			{% endif %}
		});
	});
</script>
{% endblock %}