{% extends 'base_index.html' %}
{% set page_title = problem.pid|string ~ '. ' ~ problem.title %}
{% set navbar_active = 'problemset' %}

{% import 'base_macros.html' as macros %}

{% block page_content %}
<div class="row row-cards">
	<div class="col-md-9">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title"><strong>{{ problem.title }}</strong></h3>
			</div>
			<div class="card-body">
				<div class="text-wrap" id="problem_description">
					<textarea style="display:none">{{ problem.description }}</textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Information</h3>
			</div>
			<table class="table card-table">
				<tr>
					<td>Problem ID</td>
					<td class="text-right">{{ problem.pid }}</td>
				</tr>
				<tr>
					<td>Level</td>
					<td class="text-right">{{ macros.level_to_tag(problem.level) }}</td>
				</tr>
				<tr>
					<td>Status</td>
					<td class="text-right">
						{% if problem.sub %}
						{{ macros.status_tag(problem.sub.status, url_for('submission.show', sid = problem.sub.sid)) }}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>AC Rate</td>
					<td class="text-right">{{ problem.ac_rate }}</td>
				</tr>
				<tr>
					<td colspan="2">
						<p>Tags</p>
						<div class="tags">
							{% for tag in problem.tags.all() %}
							<span class="tag tag-rounded tag-azure">{{ tag.tag_name }}</span>
							{% endfor %}
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Submit your code</h3>
				<div class="card-options">
					<button class="btn btn-sm btn-azure" id="restore_last_sub">Restore last submission</button>
					<a href="javascript:void(0)" class="card-options-collapse" data-toggle="card-collapse"><i
							class="fe fe-chevron-up"></i></a>
				</div>
			</div>
			<div class="card-body">
				<div id="submission_code"></div>
				<textarea class="d-none" id="last_sub_code">{{ problem.last_sub.code if problem.last_sub else '' }}</textarea>
				<div class="col-12" align="center">
					<button class="btn btn-pill btn-success btn-lg" id="submit_code">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var submission_code, problem_description;

	require(editormd_deps, function (editormd) {
		editormd.loadCSS("{{ url_for('static', filename='plugins/editormd/lib/codemirror/addon/fold/foldgutter') }}");

		submission_code = editormd("submission_code", {
			height: 400,
			watch: false,
			toolbar: false,
			codeFold: true,
			searchReplace: true,
			placeholder: "Input your python code here...",
			// value: getCodeValue(),
			// theme: (localStorage.theme) ? localStorage.theme : "default",
			mode: "python",
			path: "{{ url_for('static', filename='plugins/editormd/lib/') }}",
		});

		problem_description = editormd.markdownToHTML("problem_description", {
			tex: true
		});

		$('#restore_last_sub').click(function () {
			submission_code.setValue($('#last_sub_code').val());
		});

		$('#submit_code').click(function () {
			$.post(
				"{{ url_for('submission.new', pid = problem.pid) }}",
				{ code: submission_code.getMarkdown() },
				function (data) {
					if (data == 'success')
						window.location.href = "{{ url_for('submission.status') }}";
					else
						window.location.reload();
				}
			);
		});
	});
</script>
{% endblock %}