{% extends 'base_index.html' %}
{% set page_title = 'Test Set' %}
{% set navbar_active = 'problemset' %}

{% import 'base_macros.html' as macros %}

{% block page_content %}
<div class="page-header">
	<h1 class="page-title">
		Test Set for Problem {{ problem.pid }}
	</h1>
</div>
<div class="row mb-4">
	<div class="col-12">
		<button id="add_test" class="btn btn-pill btn-success btn-lg">Add Test</button>
	</div>
</div>
<div class="row row-cards" id="div_tests">
	{% for test in (problem.testset.tests.all() if problem.testset else []) %}
	<div class="col-md-6 col-xl-4">
		<div class="card card_test">
			<div class="card-header">
				<h3 class="card-title">Test #{{ test.test_id }}</h3>
				<div class="card-options test_status">
					<a href="javascript:void(0)" class="icon delete_test">
						<i class="fe fe-x"></i>
					</a>
				</div>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label class="form-label">Test ID</label>
					<input type="text" class="form-control test_id" value="{{ test.test_id }}">
				</div>
				<div class="form-group">
					<label class="form-label">Score</label>
					<input type="text" class="form-control test_score" value="{{ test.score }}">
				</div>
				<div class="form-group">
					<label class="form-label">Test code</label>
					<textarea class="form-control test_code" rows="6">{{ test.code }}</textarea>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<div class="row">
	<div class="col-12" align="center">
		<button id="save" class="btn btn-pill btn-azure btn-lg">Save</button>
	</div>
</div>

<script>
	require(['jquery'], function ($) {
		$().ready(function () {
			$('.delete_test').one('click', function () {
				$(this).parent().parent().parent().parent().remove();
			});

			$('.test_id,.test_score,.test_code').change(function () {
				if ($(this).parent().parent().parent().find('.test_changed').length == 0){
					var test_status = $(this).parent().parent().parent().find('.test_status');
					test_status.html('<span class="tag tag-warning mr-2 test_changed">Changed</span>' + test_status.html())
				}
			});

			$('#add_test').click(function () {
				var html = ' \
				<div class="col-md-6 col-xl-4"> \
					<div class="card card_test"> \
						<div class="card-header"> \
							<h3 class="card-title">New Test</h3> \
							<div class="card-options test_status"> \
								<a href="javascript:void(0)" class="icon delete_test"> \
									<i class="fe fe-x"></i> \
								</a> \
							</div> \
						</div> \
						<div class="card-body"> \
							<div class="form-group"> \
								<label class="form-label">Test ID</label> \
								<input type="text" class="form-control test_id" value="0"> \
							</div> \
							<div class="form-group"> \
								<label class="form-label">Score</label> \
								<input type="text" class="form-control test_score" value="0.00"> \
							</div> \
							<div class="form-group"> \
								<label class="form-label">Test code</label> \
								<textarea class="form-control test_code" rows="6"></textarea> \
							</div> \
						</div> \
					</div> \
				</div>';
				$('.delete_test').off('click');
				$('#div_tests').append(html);
				$('.delete_test').one("click", function () {
					$(this).parent().parent().parent().parent().remove();
				});
			});

			$('#save').click(function () {
				var tests = new Array();
				$('.card_test').each(function () {
					tests.push({
						test_id: $(this).find('.test_id').val(),
						score: $(this).find('.test_score').val(),
						code: $(this).find('.test_code').val(),
					});
				});
				$.post(
					"{{ url_for('problem.testset', pid = problem.pid) }}",
					{ tests: JSON.stringify(tests) },
					function (data) {
						if (data == 'success')
							window.location.href = "{{ url_for('problem.problemset') }}";
						else
							window.location.reload();
					}
				);
			});
		});
	});
</script>
{% endblock %}