{% extends 'base_index.html' %}
{% set page_title = 'Manage Tags' %}
{% set navbar_active = 'admin' %}

{% block page_content %}
<div class="page-header">
	<h1 class="page-title">
		Tags
	</h1>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div class="text-wrap p-2">
					<div id="tags" class="tags">
						{% for tag in tags %}
						<span class="tag tag-azure">
							<a href="javascript:void(0)" data-toggle="modal" data-target="#modal_change_tag_name"
								class="tag_detail text-inherit" value="{{ tag.tag_id }}"
								style="text-decoration: none">{{ tag.tag_name }}</a>
							<a href="javascript:void(0)" data-toggle="modal" data-target="#modal_delete_tag"
								class="tag-addon tag_delete">
								<i class="fe fe-x"></i>
							</a>
						</span>
						{% endfor %}
					</div>
					<hr />
					<div class="row">
						<div class="col-lg-5">
							<h3>Add new tag</h3>
							<div class="input-group">
								<input type="text" id="new_tag_name" class="form-control" placeholder="New tag name">
								<span class="input-group-append">
									<button class="btn btn-primary" id="add_tag">Add</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal_change_tag_name" role="dialog" aria-labelledby="title_change_tag_name"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="title_change_tag_name">Change tag name</h4>
				<a class="close" data-dismiss="modal" aria-hidden="true"></a>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" id="input_change_tag_name">
				<input type="hidden" id="id_change_tag_name">
			</div>
			<div class="modal-footer justify-content-between">
				<div class="d-flex">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				</div>
				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-primary" data-dismiss="modal" id="submit_change_tag_name">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal_delete_tag" role="dialog" aria-labelledby="title_delete_tag" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="title_delete_tag">Delete tag</h4>
				<a class="close" data-dismiss="modal" aria-hidden="true"></a>
			</div>
			<div class="modal-body">
				<h3 class="font-weight-normal text-danger">Are you sure to delete tag:</h3>
				<h4 id="name_delete_tag"></h4>
				<input type="hidden" id="id_delete_tag">
			</div>
			<div class="modal-footer justify-content-between">
				<div class="d-flex">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				</div>
				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-danger" data-dismiss="modal" id="submit_delete_tag">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	require(['jquery', 'bootstrap'], function ($) {
		$(document).ready(function () {
			$('#add_tag').click(function () {
				$.post(
					"{{ url_for('admin.add_tag') }}",
					{ tag_name: $('#new_tag_name').val() },
					function () {
						window.location.reload();
					}
				);
			});

			$('.tag_detail').click(function () {
				$('#input_change_tag_name').val($(this).html());
				$('#id_change_tag_name').val($(this).attr('value'));
			});

			$('#submit_change_tag_name').click(function () {
				$.post(
					"{{ url_for('admin.change_tag') }}",
					{
						tag_id: $('#id_change_tag_name').val(),
						tag_name: $('#input_change_tag_name').val()
					},
					function () {
						window.location.reload();
					}
				);
			});

			$('.tag_delete').click(function () {
				var tag_detail = $(this).parent().find('.tag_detail');
				$('#name_delete_tag').html(tag_detail.html());
				$('#id_delete_tag').val(tag_detail.attr('value'));
			});

			$('#submit_delete_tag').click(function () {
				$.post(
					"{{ url_for('admin.delete_tag') }}",
					{ tag_id: $('#id_delete_tag').val() },
					function () {
						window.location.reload();
					}
				);
			});
		});
	});
</script>
{% endblock %}