{% extends 'base_index.html' %}
{% set page_title = 'User' %}

<style>
    td>.form-control {
        width: 200px;
    }
</style>

{% import 'base_macros.html' as macros %}

{% block page_content %}
<div class="page-header">
    <h1 class="page-title">
        User admin
    </h1>
</div>
<div class="card">

    <table class="table card-table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>User name</th>
                <th>Position</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in form.users %}

            <form role="form" method="post">
                {{ form.csrf_token }}
                <tr>
                    <td name="uid" style="font-size: 20px;">{{ user.uid.data.data }}</td>
                    <td><input class="form-control" name="user_name" style='width: 200px;'
                            value="{{ user.user_name.data.data }}"></td>
                    <td>{{ user.position(class='form-control', style='width: 100px;') }}
                    </td>
                    <td><button type="submit" class="btn btn-pill btn-primary">Modify</button></td>
                    <td><a href="#" class="btn btn-pill btn-danger">Delete</a></td>
                </tr>
            </form>

            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}