{% extends 'base_index.html' %}
{% set page_title = 'User' %}

<style>
	td>.form-control {
		width: 200px;
	}
</style>

{% import 'base_macros.html' as macros %}

{% block page_content %}
<div class="page-header">
	<h1 class="page-title">
		User admin
	</h1>
</div>
<form role="form" method="post" name="form" action="{{ url_for('admin.user') }}">
	{{ form.hidden_tag() }}
	{{ form.csrf_token }}
	<div class="card col-md-10 col-xs-10">
		<table class="table card-table">
			<thead>
				<tr>
					<th>User ID</th>
					<th>User name</th>
					<th>Position</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for user in form.users %}

				<tr>
					<td style="font-size: 20px;">{{ user.uid(class='form-control', style='min-width: 40px; max-width: 70px') }}</td>
					<td>{{ user.user_name(class='form-control', style='min-width: 100px; max-width: 200px') }}</td>
					<td>{{ user.position(class='form-control', style='min-width: 100px;') }}</td>
					<td>{{ user.changeID(class="btn btn-pill btn-primary", value="Modify") }}</td>
					<td>{{ user.deleteID(class="btn btn-pill btn-danger ml-3", value="Delete") }}</td>
				</tr>

				{% endfor %}
			</tbody>
		</table>
		{{ macros.my_paginate(pagination,'admin.user') }}
	</div>
	<button class="btn btn-pill btn-success" data-toggle="modal" data-target="#myModal" type="button">Add User</button>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Create a new user</h4>
					<a class="close" data-dismiss="modal" aria-hidden="true"></a>
				</div>
				<div class="modal-body">
					{{ macros.render_field(form.new_user_name) }}
					{{ macros.render_field(form.new_position) }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					{{ form.addID(class="btn btn-primary", value='Add') }}
				</div>
			</div>
		</div>
	</div>
</form>

{% endblock %}