{% macro level_to_tag(level) -%}
	{% if level == 1 %}
	<span class="tag tag-green">1</span>
	{% elif level == 2 %}
	<span class="tag tag-orange">2</span>
	{% else %}
	<span class="tag tag-gray-dark">3</span>
	{% endif %}
{%- endmacro %}

{% macro render_field(field, div_class = '') -%}
<div class="form-group {{ div_class }}">
	{% if field.type == 'BooleanField' %}

		<label class="custom-control custom-checkbox">
			{{ field(class = 'custom-control-input') }}
			<span class="custom-control-label">{{ field.label.text }}</span>
		</label>
	
	{% elif field.type == "SelectField" %}

		{{ field.label(class = 'form-label') }}
		{{ field(class = 'form-control custom-select') }}

	{% else %}

		{{ field.label(class = 'form-label') }}
		{{ field(class = 'form-control', placeholder = field.label.text, **kwargs) }}

	{% endif %}

	{% for error in field.errors %}
		<span class="text-danger small" style="display:inline-block">{{ error }}</span>
	{% endfor %}
</div>
{%- endmacro %}

{% macro my_paginate(pagination,url) %}
<nav>
    <ul class="pagination" style="margin: 20px 70px; float: right;">
 
        {% if pagination.has_prev %}
        <li class="page-item"><a class="page-link" href="{{ url_for(url,page=pagination.page-1) }}">&lt&lt pre</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">&lt&lt pre</a></li>
        {% endif %}
 
            {% for page in pagination.iter_pages(1,1,3,1) %}
            {% if page %}
                <li class="page-item {% if page==pagination.page %}active{% endif %}"><a class="page-link" href="{{ url_for(url,page=page) }}">{{page}}</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
            {% endif %}
        	{% endfor %}
 
        {% if pagination.has_next %}
        <li class="page-item"><a class="page-link" href="{{ url_for(url,page=pagination.page+1) }}">next &gt&gt</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">next &gt&gt</a></li>
        {% endif %}
 
    </ul>
</nav>

<!-- <nav>
	<div class="pagination" style="margin: 20px 20px; float: right;">
		<div>
			{% if pagination.has_prev %}
			<a class="btn btn-secondary" role="button" href="{{ url_for(url,page=pagination.page-1) }}">last page</a>
			{% else %}
			<a class="btn btn-secondary disabled" role="button" href="#">last page</a>
			{% endif %}
		</div>
		
		<div>
			{% for page in pagination.iter_pages(1,1,3,1) %}
				{% if page %}
				<a class="btn {% if page==pagination.page %} btn-primary {% else %} btn-secondary {% endif %}" href="{{ url_for(url,page=page) }}">{{page}}</a>
				{% else %}
				<a class="btn btn-secondary disabled" href="#">&hellip;</a>
				{% endif %}
			{% endfor %}
		</div>

		<div>
			{% if pagination.has_next %}
			<a class="btn btn-secondary" href="{{ url_for(url,page=pagination.page+1) }}">next page</a>
			{% else %}
			<a class="btn btn-secondary disabled" href="#">next page</a>
			{% endif %}
		</div>
	</div>
</nav> -->
{% endmacro %}
