{% macro level_to_tag(level) -%}
	{% if level == 1 %}
	<span class="tag tag-green">1</span>
	{% elif level == 2 %}
	<span class="tag tag-orange">2</span>
	{% else %}
	<span class="tag tag-gray-dark">3</span>
	{% endif %}
{%- endmacro %}

{% macro status_tag(status) -%}
	{% if status == 'hidden' %}
	<span class="tag tag-gray">Hidden</span>
	{% elif status == 'pending' %}
	<span class="tag tag-azure">Pending</span>
	{% elif status == 'running' %}
	<span class="tag tag-azure">Running</span>
	{% elif status == 'ac' %}
	<span class="tag tag-success">AC</span>
	{% elif status == 'wa' %}
	<span class="tag tag-danger">WA</span>
	{% else %}
	<span class="tag">Unknown</span>
	{% endif %}
{%- endmacro %}

{% macro render_field(field, div_class = '') -%}
<div class="form-group {{ div_class }}">
	{% if field.type == 'BooleanField' %}

		<label class="custom-control custom-checkbox">
			{{ field(class = 'custom-control-input') }}
			<span class="custom-control-label">{{ field.label.text }}</span>
		</label>
	
	{% elif field.type == "SelectField" %}

		{{ field.label(class = 'form-label') }}
		{{ field(class = 'form-control custom-select') }}

	{% else %}

		{{ field.label(class = 'form-label') }}
		{{ field(class = 'form-control', placeholder = field.label.text, **kwargs) }}

	{% endif %}

	{% for error in field.errors %}
		<span class="text-danger small" style="display:inline-block">{{ error }}</span>
	{% endfor %}
</div>
{%- endmacro %}

{% macro my_paginate(pagination,url) %}
<nav>
    <ul class="pagination" style="margin: 20px 70px; float: right;">
 
        {% if pagination.has_prev %}
        <li class="page-item"><a class="page-link" href="{{ url_for(url,page=pagination.page-1) }}">&lt&lt pre</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">&lt&lt pre</a></li>
        {% endif %}
 
            {% for page in pagination.iter_pages(1,1,3,1) %}
            {% if page %}
                <li class="page-item {% if page==pagination.page %}active{% endif %}"><a class="page-link" href="{{ url_for(url,page=page) }}">{{page}}</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
            {% endif %}
        	{% endfor %}
 
        {% if pagination.has_next %}
        <li class="page-item"><a class="page-link" href="{{ url_for(url,page=pagination.page+1) }}">next &gt&gt</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">next &gt&gt</a></li>
        {% endif %}
 
    </ul>
</nav>

{#
<nav>
	<div class="pagination" style="margin: 20px 20px; float: right;">
		<div>
			{% if pagination.has_prev %}
			<a class="btn btn-secondary" role="button" href="{{ url_for(url,page=pagination.page-1) }}">last page</a>
			{% else %}
			<a class="btn btn-secondary disabled" role="button" href="#">last page</a>
			{% endif %}
		</div>
		
		<div>
			{% for page in pagination.iter_pages(1,1,3,1) %}
				{% if page %}
				<a class="btn {% if page==pagination.page %} btn-primary {% else %} btn-secondary {% endif %}" href="{{ url_for(url,page=page) }}">{{page}}</a>
				{% else %}
				<a class="btn btn-secondary disabled" href="#">&hellip;</a>
				{% endif %}
			{% endfor %}
		</div>

		<div>
			{% if pagination.has_next %}
			<a class="btn btn-secondary" href="{{ url_for(url,page=pagination.page+1) }}">next page</a>
			{% else %}
			<a class="btn btn-secondary disabled" href="#">next page</a>
			{% endif %}
		</div>
	</div>
</nav>
#}
{% endmacro %}

{% macro modal_delete(item) %}
<div class="modal fade" id="modal_delete_{{ item }}" role="dialog" aria-labelledby="title_delete_{{ item }}"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="title_delete_{{ item }}">Delete {{ item }}</h4>
				<a class="close" data-dismiss="modal" aria-hidden="true"></a>
			</div>
			<div class="modal-body">
				<h3 class="font-weight-normal text-danger">Are you sure to delete {{ item }}:</h3>
				<h4 id="name_delete_{{ item }}"></h4>
				<input type="hidden" id="id_delete_{{ item }}">
			</div>
			<div class="modal-footer justify-content-between">
				<div class="d-flex">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				</div>
				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-danger" data-dismiss="modal"
						id="submit_delete_{{ item }}">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endmacro %}