<!doctype html>
<html lang="en" dir="ltr">
{% include 'base_head.html' %}

<body class="">
	<div class="page">
		<div class="flex-fill">
			<div class="header py-4">
				<div class="container">
					<div class="d-flex">
						<a class="header-brand" href="{{ url_for('main.home') }}">
							<img src="{{ url_for('static', filename='brand.png') }}" class="header-brand-img"
								alt="tabler logo">
						</a>
						<div class="d-flex order-lg-2 ml-auto">
							<div class="dropdown">
								<a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
									<span class="avatar" id="base_username_short">UN</span>
									<span class="ml-2 d-none d-lg-block">
										<span class="text-default" id="base_username"></span>
									</span>
								</a>
								<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
									<a class="dropdown-item" href="{{ url_for('auth.profile') }}">
										<i class="dropdown-icon fe fe-user"></i> Profile
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{{ url_for('auth.logout') }}">
										<i class="dropdown-icon fe fe-log-out"></i> Sign out
									</a>
								</div>
								<script>
									require(['jquery'], function ($) {
										$('#base_username').html(currentUser.user_name);
									});
								</script>
							</div>
						</div>
						<a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse"
							data-target="#headerMenuCollapse">
							<span class="header-toggler-icon"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-3 ml-auto">
							<ul class="nav nav-tabs border-0 flex-column flex-lg-row" style="float: right;">
								<li class="nav-item dropdown">
									<a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i
											class="fe fe-user"></i> Admin</a>
									<div class="dropdown-menu dropdown-menu-arrow">
										<a href="{{ url_for('admin.user') }}" class="dropdown-item ">User</a>
									</div>
								</li>
							</ul>
						</div>
						<div class="col-lg order-lg-first">
							<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
								<li class="nav-item">
									<a href="{{ url_for('main.home') }}" class="nav-link {% if navbar_active == 'home' %}active{% endif %}">
										<i class="fe fe-home"></i> Home
									</a>
								</li>
								<li class="nav-item">
									<a href="{{ url_for('problem.problemset') }}" class="nav-link {% if navbar_active == 'problemset' %}active{% endif %}">
										<i class="fa fa-files-o"></i> Problem Set
									</a>
								</li>
								<li class="nav-item">
									<a href="{{ url_for('task.task') }}" class="nav-link {% if navbar_active == 'task' %}active{% endif %}">
										<i class="fa fa-tasks"></i> Task
									</a>
								</li>
								<li class="nav-item">
									<a href="{{ url_for('status.status') }}" class="nav-link {% if navbar_active == 'status' %}active{% endif %}">
										<i class="fe fe-bar-chart"></i> Status
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="my-3 my-md-5">
				<div class="container">
					{% block page_content %}{% endblock %}
				</div>

				<script>
					require(['jquery'], function () {
						$(document).ready(function () {

							function setCookie(name, value, days) {
								var expires = "";
								if (days) {
									var date = new Date();
									date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
									expires = "; expires=" + date.toUTCString();
								}
								document.cookie = name + "=" + (value || "") + expires + "; path=/";
							}

							function getCookie(name) {
								var nameEQ = name + "=";
								var ca = document.cookie.split(';');
								for (var i = 0; i < ca.length; i++) {
									var c = ca[i];
									while (c.charAt(0) == ' ') c = c.substring(1, c.length);
									if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
								}
								return null;
							}
						});
					});
				</script>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-12 text-center">
						Copyright © 2019 <a href=".">Tabler</a>. Theme by <a href="https://codecalm.net"
							target="_blank">codecalm.net</a> All rights reserved.
					</div>
				</div>
			</div>
		</footer>
	</div>

	<script type="text/javascript">
		{% block page_script %}{% endblock %}
	</script>
</body>

</html>