<!doctype html>
<html lang="en" dir="ltr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Content-Language" content="en" />
	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="theme-color" content="#4188c9">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
	<!-- Generated: 2019-04-04 16:55:45 +0200 -->
	<title>{{ page_title }} - Python Online Judge System</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
	<script src="{{ url_for('static', filename='js/require.min.js') }}"></script>
	<script>
		requirejs.config({
			waitSeconds: 30, // For Editor.md
		});
	</script>
	<!-- Dashboard Core -->
	<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet" />
	<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
	<!-- c3.js Charts Plugin -->
	<link href="{{ url_for('static', filename='plugins/charts-c3/plugin.css') }}" rel="stylesheet" />
	<script src="{{ url_for('static', filename='plugins/charts-c3/plugin.js') }}"></script>
	<!-- Input Mask Plugin -->
	<script src="{{ url_for('static', filename='plugins/input-mask/plugin.js') }}"></script>
	<!-- Datatables Plugin -->
	<script src="{{ url_for('static', filename='plugins/datatables/plugin.js') }}"></script>

	<script>
		// Set global dependence variable for Editor.md
		var editormd_deps = [
			"editormd",
			"plugins/editormd/languages/en",
			"plugins/editormd/plugins/link-dialog/link-dialog",
			"plugins/editormd/plugins/reference-link-dialog/reference-link-dialog",
			"plugins/editormd/plugins/image-dialog/image-dialog",
			"plugins/editormd/plugins/code-block-dialog/code-block-dialog",
			"plugins/editormd/plugins/table-dialog/table-dialog",
			"plugins/editormd/plugins/emoji-dialog/emoji-dialog",
			"plugins/editormd/plugins/goto-line-dialog/goto-line-dialog",
			"plugins/editormd/plugins/help-dialog/help-dialog",
			"plugins/editormd/plugins/html-entities-dialog/html-entities-dialog",
			"plugins/editormd/plugins/preformatted-text-dialog/preformatted-text-dialog",
			"css!plugins/editormd/css/editormd.min",
			"css!plugins/editormd/lib/codemirror/codemirror.min",
			"css!plugins/katex/katex.min",
		];
	</script>
</head>

<body class="">
	{% block body_content %}
	<div class="page">
		<div class="flex-fill">
			<div class="header py-4">
				<div class="container">
					<div class="d-flex">
						<a class="header-brand" href="{{ url_for('main.home') }}">
							<img src="{{ url_for('static', filename='brand.png') }}" class="header-brand-img"
								alt="tabler logo">
						</a>
						<div class="d-flex order-lg-2 ml-auto">
							<div class="dropdown">
								<a href="javascript:void(0)" class="nav-link pr-0 leading-none" data-toggle="dropdown">
									<span class="avatar" style="background-image: url({{ url_for('static', filename = 'avatars/' + current_user.avatar_path) }})"></span>
									<span class="ml-2 d-none d-lg-block">
										<span class="text-default">{{ current_user.user_name }}</span>
									</span>
								</a>
								<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
									<a class="dropdown-item" href="{{ url_for('user.profile') }}">
										<i class="dropdown-icon fe fe-user"></i> Profile
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{{ url_for('user.logout') }}">
										<i class="dropdown-icon fe fe-log-out"></i> Sign out
									</a>
								</div>
							</div>
						</div>
						<a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse"
							data-target="#headerMenuCollapse">
							<span class="header-toggler-icon"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-3 ml-auto">
							{% if current_user.is_teacher %}
							<ul class="nav nav-tabs border-0 flex-column flex-lg-row" style="float: right;">
								<li class="nav-item dropdown">
									<a href="javascript:void(0)"
										class="nav-link {% if navbar_active == 'admin' %}active{% endif %}"
										data-toggle="dropdown"><i class="fe fe-user"></i> Admin</a>
									<div class="dropdown-menu dropdown-menu-arrow">
										<a href="{{ url_for('user.admin') }}" class="dropdown-item ">Users</a>
										<a href="{{ url_for('admin.tag') }}" class="dropdown-item ">Tags</a>
										<a href="{{ url_for('admin.userGroup') }}" class="dropdown-item ">
											User Groups</a>
										<a href="{{ url_for('submission.rejudge') }}" class="dropdown-item ">Rejudge</a>
									</div>
								</li>
							</ul>
							{% endif %}
						</div>
						<div class="col-lg order-lg-first">
							<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
								<li class="nav-item">
									<a href="{{ url_for('main.home') }}"
										class="nav-link {% if navbar_active == 'home' %}active{% endif %}">
										<i class="fe fe-home"></i> Home
									</a>
								</li>
								<li class="nav-item">
									<a href="{{ url_for('problem.problemset') }}"
										class="nav-link {% if navbar_active == 'problemset' %}active{% endif %}">
										<i class="fa fa-files-o"></i> Problem Set
									</a>
								</li>
								<li class="nav-item">
									<a href="{{ url_for('task.tasklist') }}"
										class="nav-link {% if navbar_active == 'task' %}active{% endif %}">
										<i class="fa fa-tasks"></i> Task
									</a>
								</li>
								<li class="nav-item">
									<a href="{{ url_for('submission.status') }}"
										class="nav-link {% if navbar_active == 'status' %}active{% endif %}">
										<i class="fe fe-bar-chart"></i> Status
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="my-3 my-md-5">
				<div class="container">
					{% block page_content %}{% endblock %}
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-12 text-center">
						Copyright © 2019 <a href="/">SDWII Group4</a>.
						Templates & Theme by <a href="https://tabler.github.io/" target="_blank">Tabler</a>,
						<a href="https://codecalm.net" target="_blank">codecalm.net</a> All rights reserved.
					</div>
				</div>
			</div>
		</footer>
	</div>
	{% endblock %}

	{% include 'base_flash_toast.html' %}

	<script>
		{% block page_script %} {% endblock %}
	</script>
</body>

</html>