{% extends 'base_index.html' %}
{% set page_title = 'Login' %}

{% import 'base_macros.html' as macros %}

{% block body_content %}
<div class="page">
	<div class="page-single">
		<div class="container">
			<div class="row">
				<div class="col col-login mx-auto">
					<div class="text-center mb-6">
						<img src="{{ url_for('static', filename = 'brand.png') }}" class="h-7" alt="oj-logo">
					</div>
					<form class="card" method="post">
						{{ form.csrf_token }}
						<div class="card-body p-6">
							<div class="card-title">Login to your account</div>
							{{ macros.render_field(form.user_name) }}
							{{ macros.render_field(form.password) }}
							{{ macros.render_field(form.remember) }}
							<div class="form-footer">
								<button type="submit" class="btn btn-primary btn-block">{{ form.submit.label.text }}</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
