{% extends 'base_index.html' %}
{% set page_title = 'profile' %}

{% import 'base_macros.html' as macros %}

{% block page_content %}
<div class="row" style="padding: 0px 200px;">
	<div class="page-header">
		<h1 class="page-title">
			Edit Profile
		</h1>
	</div>
	<form class="card card-profile" method="post">
		{{ form.csrf_token }}
		<div class="card-body">
			<div class="text-center">
				<img class="card-profile-img" src="#">
				<h3 class="mb-3" id="user_name">{{ current_user.user_name }}</h3>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-5">
					{{ macros.render_field(form.uid) }}
				</div>
				<div class="col-md-3">
					{{ macros.render_field(form.user_name) }}
				</div>
				<div class="col-md-4">
					{{ macros.render_field(form.position) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label class="text-green">
						(If you want to change your password, fill in the boxes below)
					</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					{{ macros.render_field(form.password) }}
				</div>
				<div class="col-md-6">
					{{ macros.render_field(form.check_password) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{ macros.render_field(form.old_password) }}
				</div>
			</div>
		</div>
		<div class="card-footer text-right">
			<button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
		</div>
	</form>
</div>
{% endblock %}