{% extends 'base_index.html' %}
{% set page_title = 'My Profile' %}

{% import 'base_macros.html' as macros %}

{% block page_content %}
<div class="row" style="padding: 0px 200px;">
	<div class="page-header">
		<h1 class="page-title">
			Edit Profile
		</h1>
	</div>
	<form class="card card-profile" method="post">
		{{ form.csrf_token }}
		<div class="card-body">
			<div class="text-center">
				<a href="javascript:void(0)" data-toggle="modal" data-target="#modal_change_avatar">
					<img class="card-profile-img"
						src="{{ url_for('static', filename = 'avatars/' + (current_user.avatar if current_user.avatar else 'default.jpg')) }}">
				</a>
				<h3 class="mb-3" id="user_name">{{ current_user.user_name }}</h3>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="form-label">User ID</label>
						<div class="form-control-plaintext">{{ current_user.uid }}</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="form-label">Position</label>
						<div class="form-control-plaintext">{{ current_user.position }}</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						{{ macros.render_field(form.item_per_page) }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label class="text-green">
						(If you want to change your password, fill in the boxes below)
					</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					{{ macros.render_field(form.password) }}
				</div>
				<div class="col-md-6">
					{{ macros.render_field(form.check_password) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{ macros.render_field(form.old_password) }}
				</div>
			</div>
		</div>
		<div class="card-footer text-right">
			<button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
		</div>
	</form>
	<div>
		<a href="javascript:history.back()" role="button" class="btn btn-azure btn-pill">&lt&lt Back</a>
	</div>
</div>

<div class="modal fade" id="modal_change_avatar" role="dialog" aria-labelledby="title_change_avatar" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" id="form_change_avatar" method="post" action="{{ url_for('user.change_avatar') }}"
				enctype="multipart/form-data">
				{{ form.csrf_token(id = 'avatar_csrf') }}
				<div class="modal-header">
					<h4 class="modal-title" id="title_change_avatar">Change Avatar</h4>
					<a class="close" data-dismiss="modal" aria-hidden="true"></a>
				</div>
				<div class="modal-body">
					<div class="custom-file">
						<input type="file" class="custom-file-input" name="avatar" id="upload_avatar">
						<label class="custom-file-label" id="upload_filename">Choose your avatar</label>
					</div>
				</div>
				<div class="modal-footer justify-content-between">
					<div class="d-flex">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					</div>
					<div class="d-flex justify-content-end">
						<button type="submit" class="btn btn-primary" data-dismiss="modal"
							id="submit_change_avatar">Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	require(['jquery', 'bootstrap'], function ($) {
		$(document).ready(function () {
			$('#upload_avatar').change(function () {
				$('#upload_filename').html($(this).val());
			});

			$('#submit_change_avatar').click(function () {
				$('#form_change_avatar').submit();
			});
		});
	});
</script>
{% endblock %}