{% extends 'base_index.html' %}
{% set page_title = 'Status' %}
{% set navbar_active = 'status' %}
{% import 'base_macros.html' as macros %}
{% block page_content %}
<div class="page-header">
    <h1 class="page-title">
        Status
    </h1>
</div>
<div class="card">
    <table class="table card-table table-striped">
        <thead>
            <tr>
                <th>Submission ID</th>
                <th>Problem ID</th>
                <th>User</th>
                <th>Result</th>
                <th>Submission time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            {% for sub in submissions %}
            <tr>
                <td>{{ sub.sid }}</td>
                <td>{{ sub.pid }}</td>
                <td><a href="#">{{ sub.user.user_name }}</a></td>
                <td><span class="tag tag-green">{{ sub.score }}</span> </td>
                <td>{{ sub.date_time }}</td>
                <td>
                    {% if sub.is_solution %}
                    <span class="tag tag-azure">
                        <a href="javascript:void(0)" value="{{ sub.sid }}" class="sub_status text-inherit"
                            style="text-decoration: none">is solution</a>
                    </span>
                    {% else %}
                    <span class="tag">
                        <a href="javascript:void(0)" value="{{ sub.sid }}" class="sub_status text-inherit"
                            style="text-decoration: none">not solution</a>
                    </span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {{ macros.my_paginate(pagination,'main.status') }}
</div>

<script>
    require(['jquery'], function ($) {
        $('.sub_status').click(function () {
            if ($(this).parent().hasClass('tag-azure')) {
                $(this).parent().removeClass('tag-azure');
                $(this).html("not solution");
                $.post(
                    "{{ url_for('main.change_status') }}",
                    {
                        sid: $(this).val()
                    },
                    function () {
                        window.location.reload();
                    }
                );
			} else {
                $(this).parent().addClass('tag-azure');
                $(this).html("is solution");
                $.post(
                    "{{ url_for('main.change_status') }}",
                    {
                        sid: $(this).val()
                    },
                    function () {
                        window.location.reload();
                    }
                );
            }
        });
    });
</script>
{% endblock %}