{% extends 'base_index.html' %}
{% set page_title = 'Status' %}
{% set navbar_active = 'status' %}

{% block page_content %}
  <div class="my-3 my-md-5">
    <div class="container">
      <div class="page-header">
        <h1 class="page-title">
          Status
        </h1>
      </div>
      <div class="card">
        <table class="table card-table table-striped">
          <thead>
            <tr>
              <th>Submission ID</th>
              <th>Problem ID</th>
              <th>User</th>
              <th>Result</th>
              <th>Length</th>
              <th>Submission time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>3</td>
              <td><a href="#">Charm</a></td>
              <td><span class="tag tag-green">100.00</span> </td>
              <td>256</td>
              <td>2019-05-05 22:30</td>
            </tr>
            <tr>
              <td>2</td>
              <td>3</td>
              <td><a href="#">lalala</a></td>
              <td><span class="tag tag-red">50.00</span> </td>
              <td>168</td>
              <td>2019-05-05 23:45</td>
            </tr>
            <tr>
              <td>3</td>
              <td>3</td>
              <td><a href="#">oooo</a></td>
              <td><span class="tag tag-green">70.00</span> </td>
              <td>247</td>
              <td>2019-05-05 23:49</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}