{% extends 'base_index.html' %}
{% set page_title = 'Status' %}
{% set navbar_active = 'status' %}
{% import 'base_macros.html' as macros %}

{% block page_content %}
<div class="page-header">
	<h1 class="page-title">
		Status
	</h1>
</div>
<div class="card">
	<table class="table card-table table-striped">
		<thead>
			<tr>
				<th>Status</th>
				<th>#</th>
				<th>Problem ID</th>
				<th>User</th>
				<th>Score</th>
				<th>Submission Time</th>
				<th>Solution</th>
			</tr>
		</thead>
		<tbody>

			{% for sub in submissions %}
			<tr>
				<td>
					{{ macros.status_tag(sub.status, url_for('submission.show', sid = sub.sid)) }}
				</td>
				<td><a href="{{ url_for('submission.show', sid = sub.sid) }}">{{ sub.sid }}</a></td>
				<td>
					<a href="{{ url_for('problem.show', pid = sub.pid) }}">{{ sub.pid }}</a>
				</td>
				<td><a href="#">{{ sub.user.user_name }}</a></td>
				<td>
					{% if sub.status == 'hidden' or sub.score == None %}-{% else %}
					<a href="{{ url_for('submission.show', sid = sub.sid) }}">{{ sub.score }}</a>
					{% endif %}
				</td>
				<td>{{ sub.date_time }}</td>
				<td>
					{% if sub.is_solution %}
					<a href="javascript:void(0)" value="{{ sub.sid }}" class="tag tag-azure sub_status">Yes</a>
					{% elif current_user.is_teacher %}
					<a href="javascript:void(0)" value="{{ sub.sid }}" class="tag sub_status">No</a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}

		</tbody>
	</table>
	{{ macros.my_paginate(pagination,'submission.status') }}
</div>
{% if current_user.is_teacher %}
<script>
	require(['jquery'], function ($) {
		$('.sub_status').click(function () {
			$.post(
				"{{ url_for('main.change_status') }}",
				{ sid: $(this).attr('value') },
				function () {
					window.location.reload();
				}
			);
		});
	});
</script>
{% endif %}
{% endblock %}