{% extends 'base_index.html' %}
{% set page_title = task.task_id|string ~ '. ' ~ task.task_name %}
{% set navbar_active = 'task' %}

{% import 'base_macros.html' as macros %}

{% block page_content %}
<div class="row row-cards">
	<div class="col-lg-8">
		<div class="card">
			<div class="card-body">
				<div class="text-wrap p-lg-4">
					<h2 class="mt-0 mb-4">{{ task.task_name }}</h2>
					<p>{{ task.description }}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-12">
		<div class="card">
			<div class="table-responsive">
				<table class="table card-table table-vcenter text-nowrap">
					<thead>
						<tr>
							<th>Status</th>
							<th>#</th>
							<th>Title</th>
							<th>Level</th>
						</tr>
					</thead>
					<tbody>
						{% for problem in problems %}
						<tr>
							<td>
								{% if problem.sub %}
								{{ macros.status_tag(problem.sub.status, url_for('submission.show', sid = problem.sub.sid)) }}
								{% endif %}
							</td>
							<td><a href="{{ url_for('problem.show', pid = problem.pid) }}">{{ problem.pid }}</a></td>
							<td><a href="{{ url_for('problem.show', pid = problem.pid) }}">{{ problem.title }}</a></td>
							<td>{{ macros.level_to_tag(problem.level) }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}