{% extends 'base_index.html' %}
{% set page_title = 'Task' %}
{% set navbar_active = 'task' %}
{% import 'base_macros.html' as macros %}
<style>
    td {
        height: 60px;
        font-size: 20px;
    }
</style>

{% block page_content %}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">
                Task
            </h1>
        </div>
        <div class="card">

            <table class="table card-table">
                <thead>
                    <tr>
                        <th>Task ID</th>
                        <th>Task name</th>
                        <th>Deadline</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>

                        <td>{{ task.task_id }}</td>
                        <td><a href="{{ url_for('task.show', task_id = task.task_id) }}">{{ task.task_name }}</a></td>
                        <td>{{ task.deadline }}</td>

                        {% if task.deadline > now %}
                        <td><span class="tag tag-green">Available</span></td>
                        {% else %}
                        <td><span class="tag tag-red">End</span></td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ macros.my_paginate(pagination,'task.task') }}
        </div>
    </div>
</div>
{% endblock %}